<!-- Footer -->
<footer
  class="page-footer font-small pt-4 text-white "
  style="background-color: #000000;"
>
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mt-3 text-center">
        <!-- Content -->
        <h5 class="text-uppercase">Hola usuario</h5>
        <p>
          Nos interesa lo que opinas sobre esta pagina ,te invitamos a mejorar
          esta plataforma y darnos tu opinion sobre la misma.
        </p>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3" />
      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3 text-center">
        <!-- Links -->
        <h5 class="text-uppercase">Información</h5>
        <ul class="list-unstyled">
          <li>
            <a routerLink="/contacto">Contacto</a>
          </li>
          <li>
            <a routerLink="/about">Acerca de nosotros</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3 text-center">
        <!-- Links -->
        <h5 class="text-uppercase">Reportes</h5>
        <ul class="list-unstyled">
          <li>
            <a routerLink="/reporte/new">Reportes a plataforma</a>
          </li>
          <li>
            <a routerLink="">Reporte de atracción</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2019 Copyright:
    <a routerLink=""> GoGDL.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
