<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
      integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
      crossorigin="anonymous"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <section id="contact">
      <div class="container">
        <br />
        <h2 class="text-center text-uppercase">Contactanos</h2>
        <br />
        <p class="text-center w-75 m-auto">
          Si te interesa realizar algun aporte, darnos tu opinion sobre el sitio
          o te interesa ser parte del equipo de GoGDL, puedes contactarnos por
          los siguentes medios.
        </p>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4 my-5">
            <div class="card border-0">
              <div class="card-body text-center">
                <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
                <h4 class="text-uppercase mb-5">Llamanos</h4>
                <p>+52 1 33-3820-7481<br />+52 1 33-1571-2359</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 my-5">
            <div class="card border-0">
              <div class="card-body text-center">
                <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                <h4 class="text-uppercase mb-5">Ubicacion de desarrollo</h4>
                <address>
                  Calle Nueva Escocia 1885, Providencia 5a Sección, 44638
                  Guadalajara, Jal.
                </address>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 my-5">
            <div class="card border-0">
              <div class="card-body text-center">
                <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
                <h4 class="text-uppercase mb-5">Correos electronicos</h4>
                <p>andreschit00@gmail.com biosh0ked@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
