<div class="container">
  <div class="row ">
    <div class="col-md-8">
      <br />
      <h2 class="text-center font-italic">¿De que trata esta página?</h2>
      <br />
      <p class="text-justify">
        "GoGDL" es una PWA (Aplicacion Web Progresiva) que se creo con la idea
        de apoyar a pequeños empresarios a promocionar sus establecimientos a
        travez de los medios digitales como lo es esta página web. No todas las
        personas tienen recursos para hacer su propia página web o para pagar
        publicidad, por lo que nosotros les ofrecemos esta sencilla alternativa
        con la que podrán dar a conocerce. Tambien nos enfocamos en dar un gran
        catalogo de atracciones establecidas en Guadalajara, lo cual permite a
        los usuarios conocer nuevos lugares y dar su opinion sobre ellos.
      </p>
    </div>
    <div class="col-md-4">
      <br />
      <h2 class="text-center font-italic">Nuestro equipo</h2>
      <br />
      <p class="text-justify">
        Esta página esta creada solo por 2 personas.
      </p>
      <ul>
        <li>Andrés Alejandro Mercado Rodríguez</li>
        <li>Efrain Giron Romero</li>
      </ul>
      <p class="text-justify">
        Ambos Tecnólogos en Desarrollo de Software del Centro de Enseñanza
        Tecnica Industrial.
      </p>
    </div>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<app-footer></app-footer>
