<div class="container">
  <div class="row">
    <div class="col-md-8">
      <agm-map [latitude]="ubicacion.location.lat" [longitude]="ubicacion.location.lng">
        <agm-marker [latitude]="ubicacion.location.lat" [longitude]="ubicacion.location.lng"></agm-marker>
      </agm-map>
      <h6>{{ubicacion.accuracy}}</h6>
      <h2>{{usuarioDB.Nombre}}  {{usuarioDB.Apellido}}</h2>
      <hr/>
      <div *ngIf="!usuarioDB.Empresario">
        <a  style="cursor: pointer" class="botonLS p-2" (click)="hacerEmpresario()">Convertirme en empresario</a>
      </div>
      <div *ngIf="usuarioDB.Empresario">
          <b>Empresario</b>
      </div>
      <br/>
      <h2>Mis atracciones</h2>
      <ul class="list-group">
        <ng-container *ngFor="let lugar of lugares">
          <a routerLink="/detalle/{{ lugar.id }}" [queryParams]="{ action2: 'edit', refer: 'google' }" *ngIf="(lugar.propietario == loggedUser)"><li class="list-group-item">{{ lugar.nombre }}</li></a>
        </ng-container>
      </ul>
      <br/>
      <h2>Atracciones favoritas</h2>
      <ul class="list-group">
        <ng-container *ngFor="let lugar of lugares">
          <a routerLink="/detalle/{{ lugar.id }}" [queryParams]="{ action2: 'edit', refer: 'google' }"><li class="list-group-item">{{ lugar.nombre }}</li></a>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
<br />
<app-footer></app-footer>
