<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>{{usuarioDB.Nombre}}  {{usuarioDB.Apellido}}</h2>
      <hr/>
      <div *ngIf="!usuarioDB.Empresario">
        <a  style="cursor: pointer" class="botonLS p-2" (click)="hacerEmpresario()">Convertirme en empresario</a>
      </div>
      <div *ngIf="usuarioDB.Empresario">
          <b>Empresario</b>
      </div>
      <br/>
      <h2 *ngIf="usuarioDB.Empresario" >Mis atracciones</h2>
      <ul class="list-group" *ngIf="usuarioDB.Empresario">
        <ng-container *ngFor="let lugar of lugares">
          <a routerLink="/detalle/{{ lugar.id }}"  *ngIf="(lugar.propietario == loggedUser)"><li class="list-group-item">{{ lugar.nombre }}</li></a>
        </ng-container>
      </ul>
      <br/>
      <h2>Atracciones favoritas</h2>
      <ul class="list-group">
        <ng-container *ngFor="let lugar of lugares">
          <a routerLink="/detalle/{{ lugar.id }}">
            <li class="list-group-item" *ngIf="(favorito.indexOf(lugar.id))">{{ lugar.nombre }}</li>
          </a>
        </ng-container>
      </ul>
      <br/>
      <h2>Ubicación actual</h2>
      <br/>
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
      <br/>
    </div>
  </div>
</div>
<br />
<app-footer></app-footer>
