<div class="container">
  <div class="row">
    <div class="col-md-8">
      <br/>
      <h2>Reportar</h2>
      <br/>
      <p>En esta seccion se puede enviar un email, para reportar algún asunto relacionado con la plataforma GoGDL</p>
      <h5>¿Tiene algun inconveniente con la plataforma?</h5>
      <br/>
      <a href="mailto:{{email}}?subject=Reportar GoGDL" style="color:black; font-size: 120px;"><fa-icon [icon]="faEnvelope"></fa-icon></a>
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<app-footer></app-footer>
