<div class="inicio-sesion">
  <div class="login-box col-md-offset-4 col-med-4">
    <img class="avatar" src="../../assets/Logo.png" alt="Logo Go GDL" />
    <h1>Cambiar Contraseña</h1>
    <p>Escribe el correo con el que te registraste para poder cambiar tu contraseña</p>
    <!-- Usuario -->
    <label for="Usuario">Email</label>
    <input type="text" [(ngModel)]="email" />
    <a class="botonLS btn btn-primary btn-block" (click)="forgot()"
      >Cambiar contraseña</a
    >
    <a class="lnkRegistro" routerLink=""
      >Regresar al Inicio</a
    >
  </div>
</div>
