<div class="container-fluid">
    <a routerLink="/lugares">Lugares</a> /{{lugar.nombre}}
</div>
<div class="container">
    <a routerLink="/crear/{{lugar.id}}" class="botonLS btn btn-primary">Editar</a>
    <h1>{{lugar.nombre}}</h1>
    <hr/>
    <small>{{lugar.distancia}}
        km</small>
    <br/>
    <div class="card card-body bg-light">
        <p>
            {{lugar.descripcion}}
        </p>
        <b>Plan:
            {{lugar.plan}}</b>
    </div>
</div>

<agm-map [latitude]="lugar.lat" [longitude]="lugar.lng">
    <agm-marker [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>

