<div class="container">
    <h1 class="m-4">{{lugar.nombre}}</h1>
    <div class="card card-body bg-light">
        <img [src]="profileUrl | async" width="100%" height="auto"/>
        <br/>
        <h4>
            {{lugar.descripcion}}
        </h4>
        <hr/>
        <div>
          <a class="botonLS btn btn-primary" (click)="favorita()" *ngIf="loggedUser && (favorito.favorito != lugar.id)">Agregar a Favoritos</a>
          <a class="botonLS btn btn-primary" (click)="noFavorita()" *ngIf="loggedUser && (favorito.favorito == lugar.id)">Quitar de Favoritos</a>
        </div>
        <br/>
        <h5>Categoria</h5> 
        <b>{{lugar.categoria}}</b>
        <br/>
        <h5>Precio</h5> 
        De un rango de 1 a 5 siendo 5 más costoso 
        <b>{{lugar.precio}}</b>
        <br/>
        <!--<ng-container *ngFor="let lugar of +lugar.precio">
            <b>$</b>   
        </ng-container>-->
        <ul class="list-group">
            <li class="list-group-item" style="background-color: #b80f22">Amenidades</li>
            <li class="list-group-item" *ngIf="lugar.estacionamiento">Estacionamiento</li>
            <li class="list-group-item" *ngIf="lugar.wifi">Wifi</li>
            <li class="list-group-item" *ngIf="lugar.ac">Aire acondicionado</li>
            <li class="list-group-item" *ngIf="lugar.sd">Servicio a domicilio</li>
            <li class="list-group-item" *ngIf="lugar.tarjeta">Pago con tarjeta</li>
            <li class="list-group-item" *ngIf="lugar.reservaciones">Reservaciones</li>
        </ul>
        <br/>
        <table class="table" >
            <thead style="background-color: #b80f22">
            <tr>
                <th scope="col">Dia</th>
                <th scope="col">Apertura</th>
                <th scope="col">Cierre</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Lunes</th>
                <td>{{lugar.lunesabrir}}</td>
                <td>{{lugar.lunescerrar}}</td>
            </tr>
            <tr>
                <th scope="row">Martes</th>
                <td>{{lugar.martesabrir}}</td>
                <td>{{lugar.martescerrar}}</td>
            </tr>
            <tr>
                <th scope="row">Miercoles</th>
                <td>{{lugar.miercolesabrir}}</td>
                <td>{{lugar.miercolescerrar}}</td>
            </tr>
            <tr>
                <th scope="row">Jueves</th>
                <td>{{lugar.juevesabrir}}</td>
                <td>{{lugar.juevescerrar}}</td>
            </tr>
            <tr>
                <th scope="row">Viernes</th>
                <td>{{lugar.viernesabrir}}</td>
                <td>{{lugar.viernescerrar}}</td>
            </tr>
            <tr>
                <th scope="row">Sabado</th>
                <td>{{lugar.sabadoabrir}}</td>
                <td>{{lugar.sabadocerrar}}</td>
            </tr>
            <tr>
                <th scope="row">Domingo</th>
                <td>{{lugar.domingoabrir}}</td>
                <td>{{lugar.domingocerrar}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <agm-map [latitude]="lugar.lat" [longitude]="lugar.lng">
        <agm-marker [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
        <agm-marker [latitude]="usuariolat" [longitude]="usuariolng"></agm-marker>
    </agm-map>
    <br/>
    <ul class="list-group">
        <li class="list-group-item" style="background-color: #b80f22">Eventos/Promociones</li>
        <ng-container *ngFor="let articulo of articulos">
          <li class="list-group-item" *ngIf="(lugar.id == articulo.atraccion)">
            {{articulo.titulo}}
            <p>{{articulo.descripcion}}</p>
          </li>
        </ng-container>
    </ul>
    <br/>
    <a routerLink="/crear/{{lugar.id}}" class="botonLS btn btn-primary" *ngIf="(lugar.propietario == loggedUser)">Editar</a>
    <a routerLink="/crearArticulos/{{lugar.id}}" class="botonLS btn btn-primary mx-3" *ngIf="(lugar.propietario == loggedUser)">Crear Articulo</a>
    <a routerLink="/inicio" class="botonLS btn btn-primary" *ngIf="loggedIn && (this.usuariolat <= this.lugar.lat + .0003 && this.usuariolat >= this.lugar.lat - .0003 && this.usuariolng <= this.lugar.lng + .0003 && this.usuariolng >= this.lugar.lng - .0003)">Estoy Aqui</a>
</div>
<br/>
<app-footer></app-footer>


