<nav
  class="navbar navbar-expand-lg navbar-dark sticky-top"
  style="background-color: #000000;"
>
  <a class="navbar-brand" routerLink="inicio">GoGDL</a>
  <img class="Logo" alt="Responsive image" src="../assets/Logo.png" />
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="#navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/inicio">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/destacados"
          >Destacado<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lugares">Cercano</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Categorias</a
        >
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/lugares">Antros</a>
          <a class="dropdown-item" routerLink="/destacados">Bares</a>
          <a class="dropdown-item" routerLink="/contacto">Restaurantes</a>
          <a class="dropdown-item" routerLink="/lugares">Museos</a>
          <a class="dropdown-item" routerLink="/destacados">Parques</a>
          <a class="dropdown-item" routerLink="/contacto">Puestos</a>
          <a class="dropdown-item" routerLink="/contacto">Centro</a>
          <a class="dropdown-item" routerLink="/contacto">Plazas</a>
        </div>
      </li>
    </ul>
    <!--Sing in - Log in-->
    <ul class="nav navbar-nav navbar-right" *ngIf="!loggedIn">
      <li class="nav-item">
        <a class="nav-link" routerLink="/inicio-sesion">Iniciar sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/registro">Registrar</a>
      </li>
    </ul>
    <!--Sing in - Log in-->
    <ul class="nav navbar-nav navbar-right" *ngIf="loggedIn">
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Cerrar sesión</a>
      </li>
    </ul>
    <!--Barra de busqueda-->
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Buscar"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
