<nav
  class="navbar navbar-expand-lg navbar-dark sticky-top"
  style="background-color: #000000;"
>
  <a class="navbar-brand" routerLink="inicio">GoGDL</a>
  <img class="Logo" alt="Responsive image" src="../assets/Logo.png" />
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="#navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/inicio">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/destacados"
          >Destacado<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lugares">Cercano</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Categorias</a
        >
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/lugares">Antros</a>
          <a class="dropdown-item" routerLink="/destacados">Bares</a>
          <a class="dropdown-item" routerLink="/contacto">Restaurantes</a>
          <a class="dropdown-item" routerLink="/lugares">Museos</a>
          <a class="dropdown-item" routerLink="/destacados">Parques</a>
          <a class="dropdown-item" routerLink="/contacto">Puestos</a>
          <a class="dropdown-item" routerLink="/contacto">Centro</a>
          <a class="dropdown-item" routerLink="/contacto">Plazas</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Buscar"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item dropleft">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Usuario</a
        >
        <div class="dropdown-menu">
          <form class="px-4 py-3">
            <div class="form-group">
              <label for="exampleDropdownFormEmail1">Correo</label>
              <input
                type="email"
                class="form-control"
                id="exampleDropdownFormEmail1"
                placeholder="email@ejemplo.com"
              />
            </div>
            <div class="form-group">
              <label for="exampleDropdownFormPassword1">Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="exampleDropdownFormPassword1"
                placeholder="Contraseña"
              />
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="dropdownCheck"
              />
              <label class="form-check-label" for="dropdownCheck">
                Recordar
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
          </form>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Eres nuevo? Registrate</a>
          <a class="dropdown-item" href="#">Olvidaste tu contraseña?</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
