<div class="container">
        <h1 class="m-4">{{ lugar.nombre }}</h1>
        <h2 class="m-4">{{ articulo.titulo }}</h2>
        <div class="card card-body bg-light">
            <img [src]="articuloURL | async" width="100%" height="auto"/>
            <br/>
            <input type="hidden" value="{{articulo.lugar}}" [value]="this.idLugar"/>
            <br/>
            <h4>
                {{articulo.descripcion}}
            </h4>
            <div *ngIf="articulo.definida">
                <h6>Duracion:</h6>
                <p *ngIf="articulo.definida">
                    Empieza: {{articulo.empieza}}                                            
                    <br/>
                    Termina: {{articulo.termina}}
                </p>
            </div>
            <br/>
            <div with="200px">
                <a class="botonLS btn btn-primary" (click)="eliminarAtraccion()" *ngIf="loggedIn && (loggedUser == lugar.propietario)">Eliminar Evento/promoción</a>    
            </div>
        </div>
        <br/>
</div>
<app-footer></app-footer>
    
    
    