<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker
    *ngFor="let lugar of lugares"
    [latitude]="lugar.lat"
    [longitude]="lugar.lng"
  ></agm-marker>
</agm-map>
<br />
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Puestos</h2>
      <br />
      <input
        class="form-control mr-sm-2"
        type="search"
        name="filterLugar"
        placeholder="Buscar"
        aria-label="Search"
        [(ngModel)]="filterLugar"
      />
      <br />
      <ul class="list-group">
        <ng-container *ngFor="let lugar of (lugares | filter: filterLugar)">
          <a
            routerLink="/detalle/{{ lugar.id }}"
            ><li class="list-group-item" *ngIf="lugar.categoria === 'Puestos'">
              {{ lugar.nombre }}
            </li></a
          >
        </ng-container>
      </ul>
    </div>
    <div class="col-md-4">
        <br>
        <br>
        <h3 class="text-center">Filtros</h3>
        <br>
        <br>
        <a  class="botonLS btn btn-primary mx-3" style="background-color: #b80f22; color: white " >Mayor Número de visitas</a>
        <br>
        <br>
        <a  class="botonLS btn btn-primary mx-3" style="background-color: #b80f22; color: white " >Mayor Calificación</a>
        <br>
      </div>
  </div>
</div>
<br />
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<app-footer></app-footer>
