<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker
    *ngFor="let lugar of lugares"
    [latitude]="lugar.lat"
    [longitude]="lugar.lng"
  ></agm-marker>
</agm-map>
<br />
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Parques</h2>
      <br />
      <input
        class="form-control mr-sm-2"
        type="search"
        name="filterLugar"
        placeholder="Buscar"
        aria-label="Search"
        [(ngModel)]="filterLugar"
      />
      <br />
      <ul class="list-group">
        <ng-container *ngFor="let lugar of (lugares | filter: filterLugar)">
          <a
            routerLink="/detalle/{{ lugar.id }}"
            ><li class="list-group-item" *ngIf="lugar.categoria === 'Parques'">
              {{ lugar.nombre }}
            </li></a
          >
        </ng-container>
      </ul>
    </div>
  </div>
</div>
<br />
<app-footer></app-footer>
