<div class="container">
    <div class="row">
      <div class="col-md-8">
        <br/>
        <h2>Reportar</h2>
        <br/>
        <p>En esta seccion se puede enviar un email, para reportar algún asunto relacionado con la atracción {{lugar.nombre}}</p>
        <h5>Decida un motivo del reporte</h5>
        <br/>
        <a href="mailto:{{usuario.Email}}?subject=Reporte de usuario con motivo de retroalimentacion" class="reporte">
          <h5>Retroalimentación</h5>
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </a>
        <a href="mailto:{{email}}?subject=Reporte de usuario sobre la false existencia del lugar {{lugar.nombre}}" class="reporte">
          <h5>El lugar no existe</h5>
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </a>
        <a href="mailto:{{email}}?subject=Reporte de usuario sobre el uso indebido de la plataforma por el lugar {{lugar.nombre}}" class="reporte">
          <h5>Uso indebido de la plataforma</h5>
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </a>
        <a href="mailto:{{email}}?subject=Reporte de usuario sobre el uso de publicidad falsa por el lugar {{lugar.nombre}}" class="reporte">
            <h5>Publicidad falsa</h5>
            <fa-icon [icon]="faEnvelope"></fa-icon>
          </a>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <app-footer></app-footer>
  