<div class="registro">
  <div class="login-box r">
    <img class="avatar" src="../../assets/Logo.png" alt="Logo Go GDL">
    <h1>Crear un Usuario</h1>
    <form action="#" method="POST">
      <!-- Nombre -->
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" placeholder="Nombre">
      
      <!-- Apellido -->
      <label for="apellido">Apellido</label>
      <input type="text" name="apellido" placeholder="Apellido">
      
      <!-- Correo -->
      <label for="correo">Correo electronico</label>
      <input type="email" name="correo" placeholder="Correo electronico">

      <!-- Contraseña -->
      <label for="password">Contraseña</label>
      <input type="password" name="password" placeholder="Contraseña">
      
      <input type="submit" value="Aceptar"/>
    </form>
  </div>
</div>
